################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MSGraphAuthClientCredSample/obj
/MSGraphAuthClientCredSample/bin/Debug/netcoreapp3.0
/.vs/MSGraphAuthClientCredSample
